@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*share styles*/

.display-flex{
    display:flex;
}
/*text primary*/
.text-primary{
    color:#FF900E;
}

/*dark 02*/

.text-gray{
    color: #424242;
}

/* dark 03*/

.text-light-gray{
    color:#727272;
}

/*back ground color */

.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}
.section-title{
    font-size:2.8rem;
    font-weight:700;
}

/*button related style*/

.btn-primary{
    background-color:#FF900E;
    color:white;
    padding:20px 25px;
    border-radius:8px;
    border:none;
    font-size: 1.25rem;
    font-weight: 600;
}
main{
    max-width:1440px;
    margin:0 auto;

}
main >section{
    margin-top: 120px;
}

/*navbar related style*/

.navbar{
    justify-content:space-between;
    align-items: center;
    
}

.brand{
    font-size:3rem;
    font-weight:700;

}
.nav-link{
    text-decoration: none;
    font-weight: 500; 
}

.nav-item{
    list-style: none;
    margin-left:30px;
}
.navbar ,.banner{
    max-width:1440px;
    margin:0 auto;
}

/*banner related style*/

.banner-image{
    width:100%;
}
.banner-content{
    max-width:850px;
    text-align:center;
    margin:0 auto;
    padding-bottom:45px;

}
.banner-tittle{
    font-size:4rem;
    font-weight:700;
}


/*main feature related style*/

.teams{
    align-items: center;
}


.teams-image{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap:24px;
}

.teams-features{
    align-items: center;
    margin-left: 130px;
    max-width: 530px;
}

.features-title{
    font-size:2.8rem;
    font-weight:700;
}

#quick-list{
    font-weight: 500;
}

/*feature card related style*/
#feature-section-title{
    border-left: #FF900E 5px solid;
    padding-left: 21px;
}


#experience-badge{
    padding: 45px 42 px;
    font-size: 1.5 rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

.feature-card{
    padding: 30px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-card ,.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.features{
    gap:146px;
}

.featured-architect img{
    width: 100%;
}


/*fact related style*/

.fact-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    margin-top: 50px;

}
.fact-card{
    border: 1px solid #FF900E;
    align-items: center;
    text-align: center;
    justify-content: center;
    width:240px;
    height: 240px;
    border-radius: 8px;

}
.fact-number{
    font-size: 2.8rem;
    font-weight:600;
    margin-top: 5px;
    margin-bottom:10px;
}
.fact-name{
    font-size:1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}

.sponsor-section{
    max-width: 540px;
    margin:50px auto;
    text-align: center;
}

.sponsor-company{
    display:grid;
    grid-template-columns:repeat(5,1fr);

}
.sponsor-company img{
    filter: grayscale(100%);
}
.sponsor-title{
    font-size:2.8rem;
    font-weight:700;
    margin-bottom: 24px;
}


.footer-content{
    display: flex;
    max-width: 1440px;
    background-color: #FFF4E7;
    margin: 130px auto;
    align-items: center;
    text-align: center;
    justify-content: center;

}
  
    

/* media query */

@media screen and (max-width:576px){
    .navbar,
    .nav-links,
    .features,
    .teams{
        flex-direction: column;
    }
    .teams-image, .fact-container, .sponsor-company{
        grid-template-columns:1fr;
    }
    .teams-features{
        margin-left:20px;
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-company{
        justify-items: center;
        gap:50px;

    }
    #experience-badge{
    
    margin-left:20px;
    margin-top:20px;
}
}

/* for medium device*/
@media screen and (min-width:576px) and (max-width:992px){
    .teams,.features{
        flex-direction: column;
    }
    .teams-features{
        margin:30px auto;
}
    .sponsor-company, .fact-container{
        grid-template-columns:repeat(2,1fr);
        gap:50px;
       justify-items: center;
    }
    .section-title,.fact-description {
        text-align: center;
        margin: 0 auto; 
    }
     #experience-badge{
    margin-left:20px;
    margin-top:20px;
}
}